body{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-size: 50px;
  
}
h2{
    font-size: 40px;
}
hr{
    line-height: 5px;
    list-style-position: inside;
}
.flexible-continer{
    display: flex;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
    margin: 10px;
    padding-left: 70px;
    text-align: justify;
}
.half-width img{
    width: 70%;
    border-radius:10px;
    margin-left: 100px; 
    border-radius: 50%;   
}
.half-width2{
    width: 50%;
    margin: 10px;
}
.half-width2 img{
     width: 70%;
    margin-left: 50px;
    border-radius: 50%;
}

.link-button{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 10px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(255, 0, 119), rgb(255, 94, 0) );
    color: white;
    font-weight: 400;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png );
    background-repeat: no-repeat;
    background-position: right;
    text-align: justify;
}
.experience-area{
    
}
#stack, #mern{
    color: teal;
}
.experience-item{
    width: 50%;
    margin-left:5% ;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
}
/*#experiences{
    padding-left: 70px;
    margin-left: 70px;
}*/

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
a:hover{
    background-color: white;
    color: black;
}